experiment_name: vfss-unet

model:
  target: src.models.unet.UNet
  params:
    n_channels: 3
    n_classes: 2
    bilinear: True

optimizer:
  target: torch.optim.Adam
  params:
    lr: 1e-3
  
trainer:
  target: src.trainers.base.TrainerFromConfig
  params:
    max_epochs: 100
    accelerator: auto
    devices: auto
    check_val_every_n_epoch: 2
    accumulate_grad_batches: 1
  callbacks:
    - target: src.callbacks.PrintDeviceCallback
    - target: pytorch_lightning.callbacks.DeviceStatsMonitor
    # - target: pytorch_lightning.callbacks.EarlyStopping
    #   params:
    #     monitor: val/loss
    #     mode: min
    #     patience: 10

data:
  target: src.data.base.DataModuleFromConfig
  params:
    batch_size: 8
    num_workers: 8
    wrap: False
    train:
      target: src.data.vfss.VFSSTrain
      params:
        size: 256
    validation:
      target: src.data.vfss.VFSSVal
      params:
        size: 256
    test:
      target: src.data.vfss.VFSSTest
      params:
        size: 256
