experiment_name: vfss-unm-unet

model:
  target: src.models.unet.UNet
  params:
    n_channels: 3
    n_classes: 2
    bilinear: True

optimizer:
  target: torch.optim.Adam
  params:
    lr: 1e-3
  
trainer:
  target: src.trainers.base.TrainerFromConfig
  params:
    max_epochs: 100
    accelerator: auto
    devices: auto
    check_val_every_n_epoch: 2
    accumulate_grad_batches: 1
  callbacks:
    - target: src.callbacks.PrintDeviceCallback
    - target: pytorch_lightning.callbacks.DeviceStatsMonitor
    # - target: mlflow.pytorch.MlflowModelCheckpointCallback
    #   params:
    #     monitor: val/loss
    #     mode: min
    # - target: pytorch_lightning.callbacks.EarlyStopping
    #   params:
    #     monitor: val/loss
    #     mode: min
    #     patience: 10

data:
  target: src.data.base.DataModuleFromConfig
  params:
    batch_size: 8
    num_workers: 8
    wrap: False
    shared_dataset_params:
      data_root: /data_ssd/caioseda/data/dataset_unm
      size: 256
      image_interpolation: bilinear
      mask_interpolation: nearest
    train:
      target: src.data.unm.VFSSUnmTrain
    validation:
      target: src.data.unm.VFSSUnmVal
    test:
      target: src.data.unm.VFSSUnmTest
